/* ------------------------ FONTFACE ---------------------- */

@font-face
{
	font-family:"PoppinsRegular";
	src:url(../fonts/poppins/Poppins-Regular.ttf);
}

@font-face
{
	font-family:"PoppinsMedium";
	src:url(../fonts/poppins/Poppins-Medium.ttf);
}

@font-face
{
	font-family:"PoppinsLight";
	src:url(../fonts/poppins/Poppins-Thin.ttf);
}

/* ---------------------- ALL SITE ----------------- */

body
{
    background: url("../images/bg1.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    font-family: PoppinsRegular;
    margin: 0 ;
}

/* --------------------- ACCUEIL -------------------------*/

.home_arrival
{
    background:url(../images/accueil_reservation_velos_toulouse_bg.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 80px;
    text-align: center;
    width: 100%
}

h1 .fa-bicycle, h1
{
    color: white;
    display: inline-block;
    font-size: 40px;
    margin-top: 200px;
}

h1
{
    max-width: 800px;
    width: 70%;
}

.start_button
{
    align-items: center;
    background-color: white;
    border-radius: 45px;
    box-shadow: 3px 3px 15px rgb(39, 39, 39);
    color: rgb(95, 63, 155);
    cursor: pointer;
    display: flex;
    font-family: PoppinsMedium;
    font-size: 18px;
    height: 40px;
    justify-content: center;
    margin: auto;
    margin-top: 80px;
    padding: 10px;
    text-align: center;
    width: 300px;
}

.start_button:hover, .resa-bouton p:hover
{
    animation: button-colors 4s infinite;
}

@keyframes button-colors 
{
    0% {background-color: rgb(255, 255, 255); color: rgb(69, 49, 102);}
    25% {background-color: rgb(56, 48, 87); color: white;}
    50% {background-color: rgb(255, 255, 255); color: rgb(69, 49, 102);}
    75% {background-color:  rgb(56, 48, 87); color: white;}
    100% {background-color: rgb(255, 255, 255); color: rgb(69, 49, 102);}
}

/* ---------------------------- DESIGN TITRES (ETAPES) ----------------------------- */

h2
{
    color: #312541;
    font-size: 32px;
    margin: auto;
    margin-bottom: 80px;
    max-width: 700px;
    padding-top: 70px;
    text-align: center;
    width: 60%;
}

h3 .numerotation
{
    background-color: rgb(92, 83, 121);
    border: 5px solid white;
    border-radius: 50%;
    color: white;
    font-size: 38px;
    margin: 20px;
    margin-left: 20%;
    padding: 8px 25px 8px 25px;
    text-align: center;
    width: 25px;
    z-index: 1000;
}

h3
{
    display: flex;
    align-items: center;
    font-size: 30px;
}

.etape
{
    background-color: rgb(121, 114, 158);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    color: white;
    display: flex;
    height: 73px;
    align-items: center;
    margin-left: -60px;
    padding-left: 80px;
    padding-right: 80px;
}

/* ----------------------- CAROUSEL --------------------*/

.carousel
{
    width: 100%;
}

.carousel ul li
{
    left:-75px;
    list-style-type: none; 
    position: absolute;
    top:0;
}

.carousel_img
{
    
    height:200px;
    margin:auto;
    position:relative;
    width:700px;
}

.carousel_img img
{
    margin: auto !important;
    margin-left: 5% !important;
    width: 100% !important;
}

.button_navigation
{
    background-color: rgb(48, 35, 78);
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 45px;
    padding: 8px;
    width: 70px;
}

.carousel_navigation
{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1000px;
}

.pause-start
{
    color: rgb(104, 98, 138);
    font-size: 35px;
    margin: auto;
    margin-top: 300px;
    width: 100px;
}

.pause-start i
{
    cursor: pointer;

}

/* --------------------------- MAP & INFOS STATIONS --------------------------- */

#mapid
{
    border: 4.5px solid #3c2e4e;
    height: 500px;
    margin: auto;
    width: 800px;
}

.legendeCarte
{
    background-color: #423652;
    box-shadow: 3px 3px 6px grey;
    color: white;
    font-size: 14px;
    margin: auto;
    margin-top: -135px;
    padding: 5px;
    width: 250px;
}

.legendeCarte img
{
    height: 33px;
    margin: 6px 8px 6px 8px;
    width: 20px;
}

.legendeGreenMarker, .legendeRedMarker
{
    display: flex;
    margin: 10px;
}

.logoLegende
{
    background-color: #423652;
    box-shadow: 3px 3px 6px grey;
    color: white;
    cursor: pointer;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 8px;
    text-align: center;
    width: 33px;
}

.allLegend
{
    margin: auto;
    width: 250px;
}

.allLegend:hover
{
    animation: movingBlock 4s;
}

@keyframes movingBlock 
{
    0% {margin-top: 0px;}
    20% {margin-top: 135px;}
    80% {margin-top: 135px;}
    100% {margin-top: 0px;}
}


.infos-station
{
    background-color: #3c2f4ed8;
    color: white;
    font-size: 22px;
    line-height: 50px;
    margin: auto;
    margin-top: 30px;
    padding: 32px;
    width: 600px;
}

.infos-station:hover
{
    font-size: 26px;
    line-height: 52px;
    width: 630px;
}

.infos-station:hover .propriete-selectionnee
{
    font-size: 26px;
}

.titre-infos-station
{
    text-align: center;
}

.propriete-station
{
    display: flex;
}

.propriete-station i
{
    padding: 12px 10px;
}

.propriete-station:hover
{
    background-color: #342c41;
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 15px;
}

.station-selectionnee
{
    color: rgb(226, 228, 228);
    font-size: 20px;
    margin-left: 30px;
}

.infos-client
{
    margin: auto;
    margin-top: 30px;
    text-align: center;
    width: 600px;
}

.infos-station .infos-client input
{
    background-color: #c9c5cf;
    border: 0px;
    font-size: 18px;
    padding: 8px;
}

.resa-bouton p
{
    align-items: center;
    background-color: #312541ec;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 24px;
    height: 50px;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
    text-decoration: none;
    width: 200px;
}

.infos-station, .resa-bouton a, #mapid, .carousel img
{
    
    box-shadow: 2px 1px 13px rgb(155, 155, 155);
}

/* ------------------------------ MESSAGE ERREUR RESERVATION VELO ------------------------ */

.errorMessage
{
    background-color: #433952d2;
    box-shadow: 4px 2px 7px rgb(97, 97, 97);
    color: white;
    font-size: 21px;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    text-align: center;
    width: 400px;
}

/* ------------------------------ CANVAS ------------------------------ */

#canvas {
	border-radius: 3px; 
	margin: 0 auto 20px auto; 
	display: block; 
	background: white; 
	cursor: crosshair
}

.signature
{
    background-color: #574b68a8;
    box-shadow: 2px 4px 19px rgb(153, 153, 153);
    color: white;
    margin: auto;
    margin-top: 30px;
    padding: 5px;
    text-align: center;
    width: 400px;
}

#reset, #signature-validation
{
    background-color: white;
    border-width: 0 !important;
    border-radius: 10px;
    color: #423652;
    font-family: PoppinsRegular;
    margin-bottom: 7px;
    padding: 2px 5px 2px 5px;
}

#signature-validation
{
    background-color: #554a66;
    color: white;
    width: 90px;
}

.messageCurrentReservation
{
    margin: auto;
    padding: 8px;
    width: 330px;
}

/* ---------------------------- ANNULATION RESERVATION -----------------------------------*/

.messageAnnulation
{
    background-color: #564c64b9;
    box-shadow: 2px 2px 6px grey;
    color: white;
    font-size: 19px;
    margin: auto;
    margin-bottom: 30px;
    padding: 25px;
    text-align: center;
    width: 380px;
}

/* --------------------------- INFORMATIONS DE LA RESERVATION EFFECTUEE ----------------------------------- */

.infos-reservation, .no-reservation
{
    background-color: #564c64b9;
    box-shadow: 2px 4px 19px rgb(153, 153, 153);
    color: white;
    font-size: 20px;
    margin: auto;
    margin-bottom: 40px;
    padding: 40px;
    width: 400px;
}

.no-reservation
{
    margin-bottom: 200px;
    text-align: center;
}

.fa-clock, .fa-check-circle
{
    margin: 7px;
}

.remerciements
{
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.stationBooked
{
    font-style: italic;
    margin: auto;
    margin-left: 40px;
}

.par 
{
    margin-left: 40px;
}

.userName
{
    font-style: italic;
    margin: 0;
    position: absolute;
    margin-top: -30px;
    margin-left: 80px;
}

.stopReservation
{
    background-color: #312642d2;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    margin: auto;
    margin-bottom: 200px;
    padding: 10px;
    text-align: center;
    width: 200px;
}

/* ------------------------------------ MEDIA QUERIES --------------------------------------------- */

/*---------- TABLETTES ---------*/
@media (max-width: 1024px) 
{
    /* TITRES */
    h3 .numerotation
    {
        font-size: 28px;
        margin: 20px;
        margin-left: 10%;
        padding: 6px 22px 6px 22px;
        width: 12px;
    }

    h3
    {
        font-size: 20px;
    }

    .etape
    {
        height: 53px;
        margin-left: -60px;
        padding-left: 80px;
        padding-right: 80px;
    }

    /* CAROUSEL */
        .carousel_img
    {
        margin: auto !important;
        width: 400px !important;
    }

    .carousel_img img
    {
        width: 530px !important;
    }

    .carousel_navigation
    {
        margin: auto !important;
        margin-top: -40px !important;
        width: 700px !important;
    }

    .pause-start
    {
        margin-top: 140px !important;
        font-size: 25px;
        width: 80px;
    }

    .button_navigation {
        font-size: 35px;
        padding: 6px;
        width: 50px;
    }

    /* MAP */
    #mapid
    {
        height: 300px !important;
        width: 600px !important;
    }
}

/*-------- SMARTPHONES -------*/

@media (max-width: 768px) 
{
    /* ACCUEIL */
    h1 .fa-bicycle, h1
    {
        font-size: 23px;
        margin-top: 30%;
    }

    .start_button
    {
        font-size: 13px;
        height: 32px;
        margin-top: 70px;
        padding: 7px;
        width: 200px;
    }

    /* TITRES */
    h2
    {
        font-size: 18px;
    }

    .etape
    {
        padding: 4px 20px 4px 70px;
    }

    h3
    {
        font-size: 16px;
    }

    /* CAROUSEL */
    
    .carousel_img img
    {
        margin-left: 75% !important;
        width: 220px !important;
    }

    .carousel_navigation
    {
        margin: auto !important;
        margin-top: -150px !important;
        width: 310px !important;
    }

    .pause-start
    {
        margin-top: 60px !important;
    }

    .button_navigation {
        font-size: 25px;
        padding: 4px;
        width: 35px;
    }
    
    /* MAP */
    #mapid
    {
        height: 200px !important;
        width: 300px !important;
    }

    /* INFOS STATION */   
    .infos-station
    {
        font-size: 15px;
        line-height: 45px;
        padding: 30px;
        width: 240px;
    }

    .infos-station:hover
    {
        font-size: 17px;
        width: 250px !important;
    }

    .station-selectionnee
    {
        font-size: 17px;
    }

    .infos-station .infos-client input
    {
        font-size: 16px;
        width: 150px !important;
    }

    .station-selectionnee
    {
        font-size: 13px;
        line-height: 17px;
        margin: 10px;
        margin-top: 13px;
    }

    .velo-station
    {
        line-height: 18px;
        margin-top: 12px;
    }

    .infos-client
    {
        margin: 10px;
        margin: auto;
        width: auto;
    }

    .resa-bouton p
    {
        font-size: 20px;
        height: 40px;
        margin-top: 20px;
        width: 170px;
    }

    .infos-reservation
    {
        width: 300px;
    }

    /* CANVA */
    .signature
    {
        width: 300px;
    }

    /* ERRORMESSAGE */
    
    .no-reservation
    {
        width: 200px;
    }

    .errorMessage
    {
        width: 250px;
    }
}

