@font-face
{
	font-family:"PoppinsRegular";
	src:url(../fonts/poppins/Poppins-Regular.ttf);
}

@font-face
{
	font-family:"PoppinsMedium";
	src:url(../fonts/poppins/Poppins-Medium.ttf);
}

@font-face
{
	font-family:"PoppinsLight";
	src:url(../fonts/poppins/Poppins-Thin.ttf);
}

body
{
    font-family: PoppinsRegular;
    margin: 0 ;
}

/* ACCUEIL */

.home_arrival
{
    background:url(../images/accueil_reservation_velos_toulouse_bg.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 80px;
    text-align: center;
    width: 100%
}

h1 .fa-bicycle, h1
{
    color: white;
    display: inline-block;
    font-size: 40px;
    margin-top: 160px;
}

h1
{
    max-width: 800px;
    width: 70%;
}

.start_button
{
    align-items: center;
    background-color: white;
    border-radius: 45px;
    box-shadow: 3px 3px 15px rgb(39, 39, 39);
    color: rgb(95, 63, 155);
    cursor: pointer;
    display: flex;
    font-family: PoppinsMedium;
    font-size: 18px;
    height: 40px;
    justify-content: center;
    margin: auto;
    margin-top: 80px;
    padding: 10px;
    text-align: center;
    width: 300px;
}

.start_button:hover, .resa-bouton a:hover
{
    animation: button-colors 4s infinite;
}

@keyframes button-colors 
{
    0% {background-color: rgb(255, 255, 255); color: rgb(69, 49, 102);}
    25% {background-color: rgb(56, 48, 87); color: white;}
    50% {background-color: rgb(255, 255, 255); color: rgb(69, 49, 102);}
    75% {background-color:  rgb(56, 48, 87); color: white;}
    100% {background-color: rgb(255, 255, 255); color: rgb(69, 49, 102);}
}

h2
{
    color: #312541;
    font-size: 32px;
    margin: auto;
    margin-bottom: 80px;
    max-width: 700px;
    padding-top: 70px;
    text-align: center;
    width: 60%;
}

h3 .numerotation
{
    background-color: rgb(92, 83, 121);
    border: 5px solid white;
    border-radius: 50%;
    color: white;
    font-size: 38px;
    margin: 20px;
    margin-left: 20%;
    padding: 8px 25px 8px 25px;
    text-align: center;
    width: 25px;
    z-index: 1000;
}

h3
{
    display: flex;
    align-items: center;
    font-size: 30px;
}

.etape
{
    background-color: rgb(121, 114, 158);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    color: white;
    display: flex;
    height: 73px;
    align-items: center;
    margin-left: -60px;
    padding-left: 80px;
    padding-right: 80px;
}

.carousel ul li
{
    left:-75px;
    list-style-type: none; 
    position: absolute;
    top:0;
}

.carousel_img
{
    position:relative;
    height:200px;
    width:700px;
    margin:auto;
}

.button_navigation
{
    background-color: rgb(48, 35, 78);
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 45px;
    padding: 8px;
    width: 70px;
}

.carousel_navigation
{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1100px;
}

.pause-start
{
    color: rgb(104, 98, 138);
    font-size: 35px;
    margin: auto;
    margin-top: 300px;
    width: 100px;
}

.pause-start i
{
    cursor: pointer;

}

#mapid
{
    border: 4.5px solid #3c2e4e;
    height: 500px;
    margin: auto;
    width: 800px;
}

.infos-station
{
    background-color: #3c2f4ed8;
    color: white;
    font-size: 22px;
    line-height: 50px;
    margin: auto;
    margin-top: 30px;
    padding: 32px;
    width: 600px;
}

.infos-station:hover
{
    font-size: 26px;
    line-height: 52px;
    width: 630px;
}

.titre-infos-station
{
    text-align: center;
}

.propriete-station:hover
{
    background-color: #342c41;
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 15px;
}

.infos-client
{
    margin: auto;
    margin-top: 30px;
    text-align: center;
    width: 600px;
    
}

.infos-station .infos-client input
{
    background-color: #a39ab1;
    border: 0px;
    font-size: 18px;
    padding: 8px;
}

.resa-bouton a
{
    align-items: center;
    background-color: #312541ec;
    border-radius: 50px;
    color: white;
    display: flex;
    font-size: 24px;
    height: 50px;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
    text-decoration: none;
    width: 200px;
}

.infos-station, .resa-bouton a, #mapid, .carousel img
{
    
    box-shadow: 2px 1px 13px rgb(155, 155, 155);
}